body {
  font-family: Helvetica;
}

.flat-list {
  display: flex;
  flex-wrap: wrap;
}
.flat {
  flex: calc(50% - 20px) 0 0;
  cursor: pointer;
  border: 6px solid transparent;
}
.flat.selected {
  border: 6px red dashed;
}

@import "card";
